*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'PT Sans', sans-serif !important;
    background: white fixed center no-repeat;
    background-size: cover;
    color: #FFF !important;
}

main{
    padding-top:10%;
    margin-top: 5.5rem;
    background-color: rgb(0, 0, 0, 0.9);
    
}



 
.moi{
    border-radius: 50%;
    width: 400px;
   
    
}

a:hover img{
    box-shadow: 3px 3px 8px grey;
}

/*Header*/
figure.logo{
    display: inline-block;
}

.logo-top figcaption{
    font-size: 10px;
    text-align: center;
}

header>nav{
    background-color: rgb(0, 0, 0, 0.9);
}

#name{
    text-align: center;
    
}
h1{
    font-size: 5vw;
}
h2{
    font-size: 4vw;
}


.about{
    margin-top: 25%;
    text-align: center;
    padding-top: 5%;
}

h3{
    text-align: center;
    margin: 5% 0;
    font-size: 3.5vw;
    
}

p{
  font-size: 0.8rem;  
}

p.description{
    font-size: 1rem;
}

#comp{
    width: 70%;
}

#comp>.card-deck>.card{
    color: black;
    font-weight: bold;
}

footer{
    background-color: rgb(0, 0, 0, 0.9);
    text-align: right;
    height: 10vh;
    padding: 5%;
}
footer p{
    margin-bottom: 0;
    
}

#projects, #contact{
    padding-top: 5%;
}

/*Images des projets*/

#projects>.card-deck>.card{
    color: black;
    font-weight: bold;
}


.card-img-wrap {
    overflow: hidden;
    position: relative;
  }
  .card-img-wrap:after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(255,255,255,0.3);
    opacity: 0;
    transition: opacity .75s;
  }
  .card-img-wrap img {
    transition: transform .75s;
    width: 100%;
  }
  .card-img-wrap:hover img {
    transform: scale(1.2);
  }
  .card-img-wrap:hover:after {
    opacity: 1;
  }

  #contact{
      margin-top: 10%;
  }
#comp2{
    display: none;
}

.mail {
    color: white;
}
.mail:hover {
    color: white;
    text-decoration: none;
}

@media screen and (max-width:768px){
   #comp{
       display: none;
   }

    #comp2{
        display: block;
    }
}