body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    }
    
    .screen {
    height: 100%;
    }
    
    .image {
    width: 100%;
    }
    
    .full {
    width: 100%;
    height: 100%;
    }


    .perso1{
        position: absolute;
        height: 384px;
        width: 240px;
        top: 300px;
        left: 0;
        z-index: 2;
       
        
    }
    
    .mess{
        position: absolute;
        left: 43%;
        top: 40%;
        background-color: rgba(255, 255, 255, 0.4);
        color:red;
        font-weight: bold;
        display: none;
        font-size: 60px;
        z-index: 2;
    }
    
    
    
    .infoP1{
        position: absolute;
        left: 15px;
        top: 60px;
        background-color: rgba(255, 255, 255, 0.4);
        color:black;
        font-weight: bold;
        z-index: 2;
    }
    .infoP2{
        position: absolute;
        right: 15px;
        top: 60px;
        background-color: rgba(255, 255, 255, 0.4);
        color:black;
     font-weight: bold;
     z-index: 2;
    }
    
    .perso2{
        position: absolute;
        height: 384px;
        width: 240px;
        left: 1100px;
        top: 131px;
        transform: scaleX(-1);
        z-index: 2;
     
    }
    .persoGardevoir{
        position: absolute;
        height: 384px;
        width: 240px;
        left: 1000px;
        top: 270px;
        transform: scaleX(-1);
        z-index: 2;
    }
    
    .infos{
        position: absolute;
    
        color: white;
     font-weight: bold;
     background-color: rgba(255, 255, 255, 0.2);
     top: 5px;
     left: 10%;
     z-index: 2;
    
    }
    
    
    progress[value] {
        -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
              
        width: 350px;
        height: 20px;
        z-index: 2;
        
      }
      progress[value]::-moz-progress-bar { 
        background-image:
          -moz-linear-gradient(
            135deg, 
            transparent 33%, 
            rgba(0, 0, 0, 0.1) 33%, 
            rgba(0, 0, 0, 0.1) 66%, 
            transparent 66% 
          ),
          -moz-linear-gradient(
            top, 
            rgba(255, 255, 255, 0.25), 
            rgba(0, 0, 0, 0.25)
          ),
          -moz-linear-gradient(
            left, 
            #f44,
            #09c
          );
      
        border-radius: 2px; 
        background-size: 35px 20px, 100% 100%, 100% 100%; 
      }
    