body{
    background: black url(../image/interieur.jpg)  no-repeat;
background-position-x: 50%;
    /* background-size: cover; */
}

.personnage{
    position: absolute;
    top: 5;
    left: 5;
    height: 55px;
    width: 55px;
}

.sortie{
    position: absolute;
     top: 565px;
     left: 868px;
     border: 1px solid blue;
     width: 96px;
     height: 48px;
 }