body{
    background: url(../image/background.jpg)  no-repeat;
    background-size: cover;
}


.personnage{
    position: absolute;
    top: 5;
    left: 5;
    height: 55px;
    width: 55px;
}

.ennemiMacdo{
    position: absolute;
    top: 140px;
    left: 160px;
    height: 55px;
    width: 30px;
}
.ennemiThanos{
    position: absolute;
    top: 480px;
    left: 1175px;
    height: 55px;
    width: 45px;
}

.maison1{
    position: absolute;
     top: 340px;
     left: 208px;
     /*border: 1px solid blue;*/
     width: 68px;
     height: 68px;
 }
 .maison2{
    position: absolute;
     top: 477px;
     left: 1093px;
     /*border: 1px solid blue;*/
     width: 68px;
     height: 68px;
 }
 .chateau{
    position: absolute;
     top: 2px;
     left: 617px;
     /* border: 1px solid blue; */
     width: 136px;
     height: 136px;
 }

 .arbre{
    position: absolute;
     top: 272px;
     left: 480px;
     /* border: 1px solid blue; */
     width: 136px;
     height: 136px;
 }
 
 .buisson{
    position: absolute;
     top: 275px;
     left: 5px;
     /* border: 1px solid red; */
     width: 136px;
     height: 136px;
 }

 .buisson2{
    position: absolute;
     top: 479px;
     left: 5px;
     /* border: 1px solid red; */
     width: 136px;
     height: 136px;
 }
 .buisson3{
    position: absolute;
     top: 0px;
     left: 276px;
     /* border: 1px solid red; */
     width: 340px;
     height: 136px;
 }
 .buisson4{
    position: absolute;
     top: 136px;
     left: 276px;
     /* border: 1px solid red; */
     width: 136px;
     height: 68px;
 }

 .buisson5{
    position: absolute;
     top: 0px;
     left: 754px;
     /* border: 1px solid red; */
     width: 68px;
     height: 136px;
 }

 .buisson6{
    position: absolute;
     top: 69px;
     left: 890px;
     /* border: 1px solid red; */
     width: 68px;
     height: 68px;
 }
 .buisson7{
    position: absolute;
     top: 0px;
     left: 1162px;
     /* border: 1px solid red; */
     width: 68px;
     height: 68px;
 }
 .buisson8{
    position: absolute;
     top: 340px;
     left: 615px;
     /* border: 1px solid red; */
     width: 204px;
     height: 68px;
 }
 .buisson9{
    position: absolute;
     top: 136px;
     left: 1026px;
     /* border: 1px solid red; */
     width: 136px;
     height: 68px;
 }
 .buisson10{
    position: absolute;
     top: 272px;
     left: 958px;
     /* border: 1px solid red; */
     width: 68px;
     height: 68px;
 }
 
 .buisson11{
    position: absolute;
     top: 272px;
     left: 1094px;
     /* border: 1px solid red; */
     width: 204px;
     height: 68px;
 }

 .buisson12{
    position: absolute;
     top: 340px;
     left: 1162px;
     /* border: 1px solid red; */
     width: 68px;
     height: 68px;
 }
 
 .buisson13{
    position: absolute;
     top: 476px;
     left: 822px;
     /* border: 1px solid red; */
     width: 136px;
     height: 68px;
 }

 .buisson14{
    position: absolute;
     top: 476px;
     left: 1230px;
     /* border: 1px solid red; */
     width: 68px;
     height: 68px;
 }

 .buisson15{
    position: absolute;
     top: 542px;
     left: 1296px;
     /* border: 1px solid red; */
     width: 68px;
     height: 68px;
 }

 .buisson16{
    position: absolute;
     top: 542px;
     left: 344px;
     /* border: 1px solid red; */
     width: 68px;
     height: 68px;
 }

 .buisson17{
    position: absolute;
     top: 542px;
     left: 139px;
     /* border: 1px solid red; */
     width: 68px;
     height: 68px;
 }
 
 .sortie{
    position: absolute;
     /* top: 566px;
     left:868px; */
     border: 1px solid red;
     width: 96px;
     height: 48px;
     display: none;
 }
 